* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
@media (min-width: 1080px) {
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: #ffffff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #55555577;
        border-radius: 10px;
        transition-duration: 2s;
        transition-property: background-color;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555555dd;
        transition-duration: 2s;
        transition-property: background-color;
    }
}